@import "tailwindcss";

@theme {
  --color-background: #230124;
  --color-primary: #2e002f;
  --color-secondary: #541438;
  --color-accent: #ff8fde;
  --color-valid: #386338;
  --color-invalid: #ce2939;

  --color-tab-date: #eab0b0;
  --color-tab-money: #3d6338;
}

#app {
  width: 100dvw;
  height: 100dvh;
  box-sizing: border-box;
  padding: 1rem 2rem;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hover-scale {
  transition: all 150ms, border 0ms;
  cursor: pointer;
}

.hover-scale:hover {
  font-weight: bold;
  background-color: var(--color-secondary);
  border: solid 1px;
  border-color: var(--color-accent);
}

button {
  transition: all 150ms;
  cursor: pointer;
}

button:hover {
  border-color: var(--color-accent);
  font-weight: bold;
}